<?xml version="1.0" encoding="UTF-8"?>

<!--

    Author     : andy
    Description:
        Spring Application Context.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="configLocation" value="/cfg/hibernate.cfg.xml"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager"
          p:sessionFactory-ref="sessionFactory"/>

    <bean id="terminalDAO" class="org.bad.inf.dao.TerminalDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="TLogDAO" class="org.bad.inf.dao.TLogDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="TMappingDAO" class="org.bad.inf.dao.TMappingDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="TReprintDAO" class="org.bad.inf.dao.TReprintDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
 
   <bean id="TSetDAO" class="org.bad.inf.dao.TSetDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    
   <bean id="TLogConnectDAO" class="org.bad.inf.dao.TLogConnectDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
 <bean id="TTerminalSignOnDAO" class="org.bad.inf.dao.TTerminalSignOnDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
 <bean id="TFeePulsa_GroupDAO" class="org.bad.inf.dao.TFeePulsa_GroupDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
   
</beans>