<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<!-- <property name="url" value="jdbc:sqlserver://10.12.1.2;database=Biller" /> -->
		<property name="url" value="jdbc:mysql://10.63.10.122/indosattrx" />
		<property name="username" value="root" />
		<property name="password" value="admin" />
		<property name="maxActive" value="100" />
		<property name="maxIdle" value="30" />
		<property name="maxWait" value="1000" />
		<property name="defaultAutoCommit" value="true" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="60" />
	</bean>
	

	
																									<!-- END -->	
	<bean id="isoDao" class="com.jateng.simulator.dao.IsoDaoImpl">
		<constructor-arg>
			<ref local="dataSource" />
		</constructor-arg>
	</bean>
	
</beans>
